In [1]:
!git config --global user.email "shawb278@gmail.com"
!git config --global user.name "ys09123"

In [38]:
!git clone https://github.com/ys09123/airbnb-dataset-analysis.git

Cloning into 'airbnb-dataset-analysis'...
remote: Enumerating objects: 9, done.
remote: Counting objects: 100% (9/9), done.
remote: Compressing objects: 100% (6/6), done.
remote: Total 9 (delta 0), reused 3 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (9/9), done.

In [5]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("dgomonov/new-york-city-airbnb-open-data")

print("Path to dataset files:", path)

Path to dataset files: /kaggle/input/new-york-city-airbnb-open-data

In [9]:
!mkdir -p /content/airbnb-dataset-analysis/
!cp /kaggle/input/new-york-city-airbnb-open-data/*.csv /content/airbnb-dataset-analysis/

In [13]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [14]:
!cp "/content/drive/My Drive/Colab Notebooks/airbnb.ipynb" /content/airbnb-dataset-analysis/

In [15]:
%cd /content/airbnb-dataset-analysis

/content/airbnb-dataset-analysis

In [16]:
!git add airbnb.ipynb

In [17]:
!git commit -m "Add Airbnb price prediction notebook"

[main 518010b] Add Airbnb price prediction notebook
 1 file changed, 1 insertion(+)
 create mode 100644 airbnb.ipynb

In [18]:
!git push https://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@github.com/ys09123/airbnb-dataset-analysis.git

Enumerating objects: 4, done.
Counting objects: 100% (4/4), done.
Delta compression using up to 2 threads
Compressing objects: 100% (3/3), done.
Writing objects: 100% (3/3), 1.46 KiB | 1.46 MiB/s, done.
Total 3 (delta 0), reused 0 (delta 0), pack-reused 0
To https://github.com/ys09123/airbnb-dataset-analysis.git
   ac2912d..518010b  main -> main

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df=pd.read_csv('./AB_NYC_2019.csv')

In [6]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [7]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [8]:
df.shape

(48895, 16)

In [9]:
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [ ]:
df.duplicated().sum()

In [28]:
df.drop_duplicates(inplace=True)

In [34]:
df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,4.889500e+04,4.889500e+04,48895.000000,48895.000000,48895.000000,48895.000000,48895.000000,38843.000000,48895.000000,48895.000000
mean,1.901714e+07,6.762001e+07,40.728949,-73.952170,152.720687,7.029962,23.274466,1.373221,7.143982,112.781327
std,1.098311e+07,7.861097e+07,0.054530,0.046157,240.154170,20.510550,44.550582,1.680442,32.952519,131.622289
min,2.539000e+03,2.438000e+03,40.499790,-74.244420,0.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,9.471945e+06,7.822033e+06,40.690100,-73.983070,69.000000,1.000000,1.000000,0.190000,1.000000,0.000000
50%,1.967728e+07,3.079382e+07,40.723070,-73.955680,106.000000,3.000000,5.000000,0.720000,1.000000,45.000000
75%,2.915218e+07,1.074344e+08,40.763115,-73.936275,175.000000,5.000000,24.000000,2.020000,2.000000,227.000000
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

## Data Cleaning

In [10]:
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

Fill name column with 'not found'

In [11]:
df['name'] = df['name'].fillna('not found')

Drop null values in host name field

In [12]:
df.dropna(subset=['host_name'], inplace=True)

Fill reviews per month column with 0.0

In [13]:
df['reviews_per_month'] = df['reviews_per_month'].fillna(0.0)

Drop unwanted features

In [14]:
df.drop('calculated_host_listings_count', axis=1, inplace=True)

In [15]:
df.drop('availability_365', axis=1, inplace=True)

In [ ]:
df.drop(columns=['latitude', 'longitude'], inplace=True)

Correct data types

In [ ]:
df['last_review'] = pd.to_datetime(df['last_review'], errors='coerce')

Fill null rows of last review column

In [26]:
df['last_review'] = df['last_review'].fillna(pd.Timestamp('2020-01-01'))

Create new features

In [29]:
df['year'] = df['last_review'].dt.year

In [30]:
df['price_per_min_night'] = df['price'] / df['minimum_nights']

Determining tenure of host

In [32]:
host_first_review = (
    df                  # only listings with reviews
    .groupby('host_id')['last_review']
    .min()
    .rename('host_first_review_date')
)

In [36]:
reference_date = df['last_review'].max()

Timestamp('2020-01-01 00:00:00')

In [39]:
host_tenure = (
    (reference_date - host_first_review)
    .dt.days
    .rename('host_time_on_platform_days')
)

In [41]:
df = df.join(host_tenure, on='host_id')

In [45]:
df['host_time_on_platform_years'] = (df['host_time_on_platform_days'] / 365).round(2)

In [43]:
df.drop(columns=['host_id', 'host_name'], inplace=True)

In [52]:
df[['host_time_on_platform_days', 'host_time_on_platform_years']].head()

   host_time_on_platform_days  host_time_on_platform_years
0                         459                         1.26
1                         532                         1.46
3                         180                         0.49
4                         408                         1.12
5                         193                         0.53

Drop rows where tenure is zero

In [47]:
df = df[~(
    (df['host_time_on_platform_days'] == 0) &
    (df['host_time_on_platform_years'] == 0)
)]

Handle Outliers

In [53]:
Q1 = df['price'].quantile(0.25)
Q3 = df['price'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
df = df[(df['price'] >= lower_bound) & (df['price'] <= upper_bound)]

In [54]:
df['price_outliers'] = ((df['price'] < lower_bound) | (df['price'] > upper_bound))

C:\Users\Yash\AppData\Local\Temp\ipykernel_10568\2250836316.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_outliers'] = ((df['price'] < lower_bound) | (df['price'] > upper_bound))

In [56]:
df_no_price_outliers = df[~df['price_outliers']]

In [57]:
Q1_mn = df['minimum_nights'].quantile(0.25)
Q3_mn = df['minimum_nights'].quantile(0.75)
IQR_mn = Q3_mn - Q1_mn
upper_mn = Q3_mn + 1.5 * IQR_mn
# Cap minimum_nights
df['minimum_nights_capped'] = df['minimum_nights'].clip(upper=upper_mn)

C:\Users\Yash\AppData\Local\Temp\ipykernel_10568\3533498795.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['minimum_nights_capped'] = df['minimum_nights'].clip(upper=upper_mn)